.app.dark{
    --bg-color:#181818;
    --inverted-bg-color:#b6b6b6;

    --primary-color:#00c2b8;
    --secondary-color:#3e837f;

    --inverted-primary-color:#c00404;
    --inverted-secondary-color:#743232;


    
}